<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Workout list</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">MyFitnessLife</span>
	</nav>
	<div>
		 <img th:src="@{/image/Banneri.jpg}"/>
	</div>
	<div class="container">
		<div id="content">
			<div class="col">
				<h1>This is the Layout's main section</h1>
				<p>This content will be replaced if the page using the layout
					also defines a layout:fragment="content" segment.</p>
			</div>
		</div>
	</div>
	<footer> This content will remain, but other content will be
		inserted after it. </footer>
</body>
</html>