<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Workout list</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-primary ">
		<span class="navbar-brand mb-0 h1">MyFitnessLife</span>
		<a href="/add" class="btn btn-primary navbar-brand mb-0 h1">Add Exercise</a>
	</nav>
	<div class="container">
		<div class="article-list_container">
			<div
				class="article-list_segment article-list_titlebar article-list_content-wrapper">
				<table>
					<thead>
						<tr>
							<th class="article-list_titlebar">Day</th>
							<th class="article-list_titlebar">Exercise</th>
							<th class="article-list_titlebar">Sets</th>
							<th class="article-list_titlebar">Reps</th>
						</tr>
					</thead>
					<tr th:each="exercise : ${exercises}">
						<td  class="article-workout_sets-definition" th:text="${exercise.weekday}"></td>
						<td class="article-workout_exercise-title"
							th:text="${exercise.name}"></td>
						<td class="article-workout_exercise-info "
							th:text="${exercise.sets}"></td>
						<td th:text="${exercise.reps}"></td>
						<td><a th:href="@{/delete/{id}(id=${exercise.id})}"  class="btn btn-outline-danger btn-sm">Delete</a></td>
				</table>
			</div>
		</div>
	</div>
</body>
</html>